body {
    background-color: #eee;
}

.nav-wrapper {
    background-color: #393e46;
}

nav .brand-logo {
    position: absolute;
    color: #fff;
    display: inline-block;
    font-size: 2.1rem;
    padding-left: 10px;
}

.card {
    background-color: #00adb5;
    color: black;
}

.sign-in-button {
    background-color: #ee6e73;
}

.flashes h4 {
    line-height: 2;
}

.fixed-action-btn {
    position: inherit;
    right: 23px;
    bottom: 23px;
    padding-top: 15px;
    margin-bottom: 0;
    z-index: 997;
}

.btn-floating {
    text-align: center;
    font-size: 18px;
}

.search-btn {
    margin-top: 10px;
}

.search-bar {
    min-width: 200px;
    display: inline-block;
}
