@import url('https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap');


body {
  background-color: #eee;
  font-family: 'Playfair Display', serif;
  font-size: 2rem;
}

.navbar-fixed {
  z-index: 998;
}

nav {
  font-size: 2rem;
}

.index-heading {
  margin-bottom: 40px;
}

.index-info {
  font-size: 1.6rem;
  padding-top: 20px;
}

a {
  text-decoration: none;
  color: black;
}

.stories-link {
  color: #00adb5;
}

.stories-link:hover {
  filter: brightness(75%);
}

.jokes-link {
  color: #75c2f6;
}

.jokes-link:hover {
  filter: brightness(75%);
}

.nav-wrapper {
  background-color: #393e46;
}

nav .brand-logo {
  position: absolute;
  color: #fff;
  display: inline-block;
  font-size: 2.1rem;
  padding-left: 10px;
}

.welcome-message {
  margin-bottom: 20px;
  line-break: 20px;
  font-size: 1.6rem;
}

.card {
  background-color: #00adb5;
  color: black;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 40px;
  width: 95%;
}

.joke-card {
  background-color: #75c2f6;
}

.created-by {
  text-align: left;
  position: absolute;
  left: 5px;
  top: 5px;
  font-size: 1rem;
  z-index: 999;
}

.content-created-by{
  position: absolute;
  right: 5px;
  bottom: -20px;
  font-size: 1.2rem;
}

.content {
  position: relative;
}

.comment-created-by {
  font-size: 1rem;
}

.content-border {
  border: 2px solid black;
  margin-top: 10px;
}


.flashes h4 {
  line-height: 2;
}

.fixed-action-btn {
  position: inherit;
  right: 23px;
  bottom: 23px;
  padding-top: 15px;
  margin-bottom: 0;
  z-index: 997;
}

.btn-large i {
  font-size: 2.2rem;
}

.btn-floating.btn-large {
  width: 66px;
  height: 66px;
  padding: 0;
}

.comment-btns {
  position: relative;
  right: 10px;
  bottom: 60px;
}

.btn-floating.btn-large i {
  line-height: 66px;
}

.comment-btn {
  margin-left: 5px;
}

.btn {
  margin-bottom: 30px;
}

.btn-floating {
  text-align: center;
  font-size: 18px;
  width: 50px;
  height: 50px;
  line-height: 55px;
}

.search-btn {
  margin-top: 10px;
}

.search-bar {
  min-width: 200px;
  display: inline-block;
}

.brand-logo-small-screen {
  visibility: hidden;
}

.brand-logo {
  visibility: visible;
}

@media screen and (max-width: 550px) {
  .brand-logo {
    visibility: hidden;
  }

  .brand-logo-small-screen {
    visibility: visible;
    left: 50%;
    position: absolute;
    font-size: 2.1rem;
  }
}

form {
    padding-top: 10px;
}

.register-comment {
  font-size: 1.2rem;
}

.comment-box {
  color: black;
  border: none none solid none;
  width: 80%;
  margin-bottom: 60px;
  border-bottom: 1px solid black;
}

.comment {
  margin-top: 5px;
  font-size: 1.4rem;
}

.line-break {
  white-space: pre-wrap;
}