{% extends "base.html" %} {% block content %}

<h3>Add a story!</h3>
<div class="row">
  <div class="col s12">
    <div class="card-panel">
      <form method="POST" action="{{ url_for('add_story') }}">
        <div class="row">
          <form class="col s12">
            <!--story title-->
            <div class="row">
              <div class="input-field col s6">
                <input
                  type="text"
                  name="story_title"
                  id="story_title"
                  class="validate"
                  minlength="5"
                  maxlength="50"
                  required
                />
                <label for="story_title">Story Title</label>
              </div>
            </div>
            <!-- story content-->
            <div class="row">
              <div class="input-field col s12">
                <i class="fas fa-book-open prefix"></i>

                <textarea
                  id="story_content"
                  name="story_content"
                  class="materialize-textarea"
                  required
                ></textarea>
                <label for="story_content"></label>

                <label for="story_content">Story Content</label>
                <!--submit button -->
                <button
                  class="col s6 btn-large sign-in-button offset-m3"
                  type="submit"
                >
                  Submit!
                  <i class="fas fa-sign-in-alt"></i>
                </button>
              </div>
            </div>
          </form>
        </div>
      </form>
    </div>
  </div>
</div>
{% endblock %}
