{% extends "base.html" %}
{% block content %}
<div class="center">
<h3 class="">Add a joke!</h3>

<div class="row">
    <div class="col add-joke">
        <div class="card-panel">
            <form method="POST" action="{{ url_for('add_joke') }}">
                <div class="row">
                    <form class="col s12">
                        <div class="row">
                            <div class="input-field col">
                                <input type="text" name="joke_title" id="joke_title" class="validate" minlength="5"
                                    maxlength="400" required>
                                <label for="joke_title">Joke Title</label>
                            </div>
                        </div>
                        <div class="row">
                            <div class="input-field col">
                                <!--<i class="fas fa-book-open prefix"></i>-->
                                <input type="text" name="joke_content" id="joke_content" class="validate" minlength="5"
                                    maxlength="1000" data-length="15" required>
                                <label for="joke_content">Joke Content</label>
                                <button class="col btn-large sign-in-button offset-m3" type="submit">Submit!
                                    <i class="fas fa-sign-in-alt"></i>
                                </button>
                            </div>
                        </div>
                    </form>
                </div>
            </form>
        </div>
    </div>
</div>
</div>
{% endblock %}