{% extends "base.html" %}
{% block content %}

<h1 class="center">The Lockdown Lounge</h1>
<div class="container index-info center">
<p>Here you can relax, share some stories or jokes about your time in lockdown. If you don't have an account feel free to browse and look at all of the content</p>
<p>If you are here to add something into the mix, head over to the register page to get an account. You can only add content or comments if you're signed into an account</p>
<p>Head over to the <a class="text-links" href="{{ url_for('get_stories') }}">Stories</a> area to share some ridicolous stories you've been through in your Lockdown time</p> 

<p>Or, why not go over to the <a class="text-links" href="{{ url_for('get_jokes') }}">Jokes</a> section to give us all a laugh, or not</p>

<p>If you'd like to add some content to either of the pages, you'll need to create a user account first. Head <a class="text-links" href="{{ url_for('register') }}">Here</a> to do that. Don't worry we only need your email address, and we promise not to send any annoying emails.</p>


<p>Click on the button below to go to the registration page</p>

<a href="{{ url_for('register') }}" class="btn-large register-button orange darken-1">Register here</a>
</div>
{% endblock %}