{% extends "base.html" %}
{% block content %}
<div class="center">
    <div class="index-heading">
<h1>The Lockdown Lounge</h1>
<h6>A place to laugh, cry and procrastinate until we're allowed outside again.</h6>
</div>
{% if not session.user %}
<a href="{{ url_for('login') }}" class="btn-large">Login</a>
<a href="{{ url_for('register') }}" class="btn-large orange darken-1">Register</a>
<br>
<p class="register-info">If you'd like to add your own content or comments, please register an account.</p>
<div class="index-info">
{% endif %}
<p>Here you can relax, share some stories or jokes about your time in lockdown. If you don't have an account feel free to browse and look at all of the content.</p>
<br>
<br>
<h4>Love hearing a good story?</h4>
<p>Head over to the <a class="stories-link" href="{{ url_for('get_stories') }}">Stories</a> area to share some funny, sad or wholesome stories you've been through in your Lockdown time.</p> 
<br>
<h4>Run out of jokes?</h4>
<p>Go over to the <a class="jokes-link" href="{{ url_for('get_jokes') }}">Jokes</a> section to learn some new jokes for when we go back into the office.</p>
</div>
</div>
{% endblock %}