{% extends "base.html" %} {% block content %}
<div class="row content-border">
  <div class="col s12 content">
    <h1 class="center">{{ joke.joke_title }}</h1>
    <p class="line-break left">{{ joke.joke_content }}</p>
    <br />
    <p class="content-created-by">Created by: <a href="{{ url_for('profile', username=joke.created_by )}}">{{ joke.created_by }}</a></p>
  </div>
</div>
{% if not session.user %}
<div class="register-comment center">
<p>Want to leave a comment? Sign in or Regsiter below!</p>
<a href="{{ url_for('login') }}" class="btn register-button">Login</a>
<a href="{{ url_for('register') }}" class="btn register-button orange darken-1">Register</a>
{% endif %}
</div>
{% if session.user %}
<div class="center">
  <form
    method="POST"
    action="{{ url_for('add_joke_comment', joke_id=joke._id) }}"
  >
    <div class="row">
      <!--joke comment-->
      <div class="row">
        <div class="input-field col s6">
          <textarea
            name="joke_comment"
            id="joke_comment"
            class="materialize-textarea"
            minlength="5"
            required
          ></textarea>

          <label for="joke_comment">Joke comment</label>
        </div>
      </div>
      <!--submit button -->
      <button class="col s6 btn offset-m3" type="submit">Add comment!</button>
    </div>
    <input type="hidden" value="{{ joke._id }}" name="joke_id" id="joke_id" />
  </form>
</div>
{% endif %} 

{% for comment in joke_comment %}
<div class="comment-box">
  <p class="comment">{{ comment.joke_comment }}</p>
  <a href="{{ url_for('profile', username=comment.created_by )}}" class="comment-created-by">user commented: {{ comment.created_by }}</a>
  {% if comment.created_by|lower == session.user|lower %}
  <div class="comment-btns">
    <a
      href="{{ url_for('delete_joke_comment', joke_comment_id=comment._id) }}"
      class="btn-floating comment-btn right red"
      style="opacity: 1; transform: scale(1) translateY(0px) translateX(0px)"
      onclick="return confirm('Are you sure you want to delete this comment?');"
    >
      <i class="fas fa-times"></i>
    </a>

    <a
      href="{{ url_for('edit_joke_comment', joke_comment_id=comment._id) }}"
      class="btn-floating comment-btn right orange"
      style="opacity: 1; transform: scale(1) translateY(0px) translateX(0px)"
    >
      <i class="far fa-edit"></i>
    </a>
  </div>
  {% endif %}
</div>
{% endfor %}{% endblock %}
