{% extends "base.html" %}
{% block content %}
<div class="row">
	<form class="center" action="{{ url_for('search_jokes') }}" method="POST">
		<div class="search-bar center" style="width: 50%">
			<input type="text" name="search" id="search" minlength="3" class="validate" required placeholder="Search jokes" /> </div>
		<div class="search-bar">
			<button type="submit" class="light-blue darken-1 search-btn btn text-shadow"> Search </button> <a href="{{ url_for('get_jokes') }}" class="red search-btn btn text-shadow">Reset</a
      >
    </div>
  </form>
</div>

<div class="center welcome-message">
  <h1>Jokes</h1>
  <p>Got a funny joke? Or just here to read one?</p>
  <p>If you're registered with an account, feel free to leave your own story!</p>
  {% if not session.user %}
    <p>Click on the button below to go to the registration page</p>
    <a href="{{ url_for('login') }}" class="btn-large">Login</a> <a href="{{ url_for('register') }}" class="btn-large register-button orange darken-1">Register</a> 
</div> 
  {% endif %} 

{% if session.user %}
	<div class="row center"> 
    <a href="{{ url_for('add_joke') }}" class="btn-large btn">Add a Joke!</a>
  </div>
{% endif %} 

{% for joke in jokes %}
  <div class="row center">
      <div class="card joke-card">
        <div class="card-content">
          <a href=" {{ url_for('joke', joke_id=joke._id) }}"><h3>{{ joke.joke_title }}</h3>
          </a> 
        </div> 
        <a class="created-by" href="{{ url_for('profile', username=joke.created_by )}}">Told by: {{ joke.created_by }}</a>
          <p class="date-created">Created: {{ joke.last_modified }}</p>
          {% if joke.created_by|lower == session.user|lower %}
            <div class="fixed-action-btn click-to-toggle right direction-left">
              <a class="btn-floating btn-large black"> <i class="far fa-hand-point-left"></i> </a>
              <ul>
                <li>
                  <a href="{{ url_for('delete_joke', joke_id=joke._id) }}" class="btn-floating red" style="
                        opacity: 1;
                        transform: scale(1) translateY(0px) translateX(0px);
                      " onclick="return confirm('Are you sure you want to delete this item?');"> <i class="fas fa-times"></i> </a>
                </li>
                <li>
                  <a href="{{ url_for('edit_joke', joke_id=joke._id) }}" class="btn-floating orange" style="
                        opacity: 1;
                        transform: scale(1) translateY(0px) translateX(0px);
                      "> <i class="far fa-edit"></i> </a>
                </li>
              </ul>
          </div> 
      {% endif %} 
      </div>
  </div> 
{% endfor %} 
{% endblock %}