{% extends "base.html" %}
{% block content %}

  <div class="row">
    <div class="col s12">
      <div class="row">
        <div class="input-field col s12">
          <i class="material-icons prefix"></i>
          <input type="text" id="first-name" class="autocomplete">
          <label for="first-name">First Name</label>
        </div>
      </div>
      <div class="row">
        <div class="input-field col s12">
          <i class="material-icons prefix"></i>
          <input type="text" id="last-name" class="autocomplete">
          <label for="last-name">Last Name</label>
        </div>
      </div>
    </div>
  </div>
{% endblock %}