{% extends "base.html" %}
{% block content %}

    {% for story in stories %}
        {{ story.story_title }} <br>
        {{ story.story_content }} <br>
    {% endfor %}
      <ul class="collapsible">
    <li>
      <div class="collapsible-header"><i class="fas fa-caret-down"></i>First</div>
      <div class="collapsible-body"><span>Lorem ipsum dolor sit amet.</span></div>
    </li>
    <li>
      <div class="collapsible-header"><i class="fas fa-caret-down"></i>Second</div>
      <div class="collapsible-body"><span>Lorem ipsum dolor sit amet.</span></div>
    </li>
    <li>
      <div class="collapsible-header"><i class="fas fa-caret-down"></i>Third</div>
      <div class="collapsible-body"><span>Lorem ipsum dolor sit amet.</span></div>
    </li>
  </ul>
        
{% endblock %}