{% extends "base.html" %}
{% block content %}

<ul class="collapsible">
    {% for story in stories %}
    <li>
        <div class="collapsible-header">
                <strong>{{ story.story_title }}</strong>
            </div>
            <div class="collapsible-body"><span>{{ story.story_content }}</span>
                <p>Created by: {{ story.created_by }}</p>
            </div>
    </li>
    {% endfor %}
</ul>
{% if session.user %}
<a href="{{ url_for('add_story') }}" class="waves-effect waves-light btn">Add a story!</a>

{% endif %}
{% endblock %}